#answerInput {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    position:absolute;
    top:130px;
    right:50%;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
}
#BUTTON123{
    background-color: #8ba8fe;
    border-radius: 15px;
    border: none;
    position:absolute;
    top:155px;
    left:60%;
    transform: translate(-50%,-50%);
    height:30px;
    width:135px;
}
#BUTTON123:hover{
    background-color: #677dc1;
}
#result{
    position:absolute;
    top:185px;
    left:50%;
    transform: translate(-50%,-50%);
}
