#answerInput {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    position:absolute;
    top:130px;
    right:30%;
}
#score {
    background-color: #5c85ff;
    position:absolute;
    bottom: 150px;
    left: 0;
    width: 100%;
    padding: 5px 0;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
}
#BUTTON123{
    background-color: #8ba8fe;
    border-radius: 10px;
    border: none;
    position:absolute;
    top:155px;
    left:80%;
    transform: translate(-50%,-50%);
    height:30px;
    width:100px;
}
#BUTTON123:hover{
    background-color: #677dc1;
}
#result{
    position:absolute;
    top:185px;
    left:50%;
    transform: translate(-50%,-50%);
}